@media all and (max-width: 670px)  {

    body {
        overflow-x: hidden;
    }

    .pc { display: none !important; }
    .sp { display: block !important; }

    .headline {
        position: absolute;
        top: 75%;
        left: 0;
        color: #151515;
        text-shadow: 0 0 10px #fff;
        font-size: 50px;
        transform: translateY(-10%,-70%);
        z-index: 5;
    }

    .synopsis {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(#151515,#272727);
        color: #ffffff;
        text-align: center;
        align-items: center;
        position: absolute;
    }

    .synopsis h1 {
        font-size: 18px;
        color: #ffffff;
        text-align: center;
        padding: 100px 0px 30px 0px;
        font-family: "shippori-antique-b1", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    .synopsis p {
        width: 90%;
        font-size: 14px;
        color: #ffffff;
        text-align: center;
        padding: 0px;
        margin: 0 auto;
        font-family: "shippori-antique-b1", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .video {
        display: none !important;
    }

    .song {
        background-color: #262A26;
        display: block;
        width: 100%;
        height: 600px;
    }

    .artist {
        padding: 20px 0px 10px 0px;
        text-align: center;
    }
    
    .artist img{
        object-fit: cover;
    }
    
    .artist p {
        color: #ffffff;
        line-height: 30px;
        font-size: 15px;
        padding: 5px;
    }

    .ar {
        width: 300px;
        height: 141px;
    }

    .ic {
        width: 35px;
    }
}