@media all and (max-width: 670px)  {

    body {
        overflow-x: hidden;
        width: 670px;
    }

    .pc { display: none !important; }
    .sp { display: block !important; }

    .headline {
        position: absolute;
        top: 75%;
        left: 0;
        color: #151515;
        text-shadow: 0 0 10px #fff;
        font-size: 50px;
        transform: translateY(-10%,-70%);
        z-index: 5;
    }

    .song {
        background-color: #262A26;
        display: block;
        width: 100%;
    }

    .artist {
        padding: 10px;
        text-align: center;
    }
    
    .artist img{
        object-fit: cover;
    }
    
    .artist p {
        color: #ffffff;
        line-height: 30px;
        font-size: 15px;
        padding: 5px;
    }

    .ar {
        width: 300px;
        height: 141px;
    }

    .ic {
        width: 35px;
    }
}