.sort-btn{
	width: 1400px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding:50px 0;
}

.sort-btn li{
	background:#eee;
    list-style:none;
	border-radius:10px;
	cursor: pointer;
	padding: 10px;
	margin:0 10px;
}

.sort-btn li.active{/*ボタンに現在地＝activeというクラス名がついたら背景色を変更*/
	background:#8b8b8b;	
    color: #fff;
}

@media (max-width:390px) {
	.sort-btn{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding:10px 20px;
	}
	
	.sort-btn li{
		background:#eee;
		list-style:none;
		border-radius:10px;
		cursor: pointer;
		padding: 10px;
		margin:5px 5px;
		font-size: 15px;
	}
	
	.sort-btn li.active{/*ボタンに現在地＝activeというクラス名がついたら背景色を変更*/
		background:#8b8b8b;	
		color: #fff;
	}
	
}
