* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #272727;
}

.top {
    width: 1400px;
    height: 700px;
}

.top h1{ 
    color: #ffffff;
    text-align: center;
    padding: 300px 0px 10px 0px;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top h2{
    color: #ffffff;
    text-align: center;
    font-size: 100px;
    margin: 20px;
}

.TextTyping span {
	display: none;
}

/*文字列後ろの線の設定*/
.TextTyping::after {
 	content: "|";
	animation: typinganime .9s ease infinite;
}

@keyframes typinganime{
	from{opacity:0}
	to{opacity:0}
}


.arrangement {
    color: #ffffff;
    text-align: center;
    width: 1400px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FIXME */
.genre {
    width: 100vw;
    /* height: 500px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    position: relative;
}

.item {
    display: block;
    position: absolute;
    margin: 50px;
}

.muuri-item-conten {
    position: relative;
    width: 100%;
    height: 100%;
}

.card {
    margin: 10px;
    background-color: gray;
    width: 600px;
    height: 400px;
    position: relative;
  }

  .card img {
    width: 600px;
    height: 400px;
  }
  
  .card::before {
    content: "";
    background-color: #14B682;
    width: 600px;
    height: 400px;
    position: absolute;
    z-index: -1;
    right: -10px;
    bottom: -10px;
  }
  
  .card::after {
    content: "";
    /*  再生マークの画像いれて〜！一旦仮で置いてます  */
    background-image: url(imga/Group\ 75.png);
    background-color: #fff;
    background-size: 70px;
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
  }
  
  .card:hover::after {
    background-size: 80px;
    width: 80px;
    height: 80px;
    transition: 0.5s;
  }

.detail h1{
    font-size: 17px;
    padding: 20px;
    color: #fff;
}

.detail p {
    padding: 20px;
    width: 580px;
    font-size: 20px;
    color: #fff;
}

.detail {
    text-align: center;
    padding: 20px;

}

.category h2 {
    font-size: 16px;
    background-color: #14B682;
    margin: 0px 10px 10px 10px;
    width: 150px;
    display: inline-block; 
    text-align: center;
    padding: 10px;
    color: #fff;
}

footer {
    background-color: #14B682;
    padding: 10px 0;
}
  
footer p {
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    background-color: #14B682;
}